<a href="https://colab.research.google.com/github/prithvikolla/Python-R/blob/master/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
list = [['prithvi',1], ['hima',2],['maya',3],['neno',4]]
df = pd.DataFrame(list, columns = ['Name','Id'])
print(df)

      Name  Id
0  prithvi   1
1     hima   2
2     maya   3
3     neno   4

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Id      4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [19]:
dic = {'Name':['kali','billi','chudail'],
       'ID':[1,2,3]}
df_two = pd.DataFrame(dic,index=['Manager','Programer','InHuman'])
print(df_two)

              Name  ID
Manager       kali   1
Programer    billi   2
InHuman    chudail   3